body {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  font-size: 1em;
  color: black;
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  text-align: justify;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 100%;
}

.header-container {
  max-width: 100%;
  background-color: #00bbf0;
}

.menu {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.nav-logo {
  margin-top: 30px;
  width: 180px;
}
.nav ul {
  list-style: none;
  display: flex;
}

.nav ul li.nav-list__item {
  padding-right: 200px;
  padding-top: 10px;
}

.nav ul li.nav-list__item:nth-child(3) {
  padding: 0;
  padding-top: 10px;
}

.nav ul.nav-list {
  flex: 1;
  margin-left: 187px;
}
.nav ul li a {
  color: #eee;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav ul li a:hover {
  border-bottom: 3px solid #eee;
}

.Agimat-section__title {
  margin: 0;
}

.Agimat-article__paragraph {
  margin-top: 15px;
  margin-bottom: 5px;
}

.Agimat-article__list {
  margin: 15px 0;
}
.Agimat-article-list__item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.Agimat-article-list__link:hover {
  border-bottom: 3px solid black;
  padding-left: 5px;
  padding-right: 5px;
}

.main-container,
.footer-container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Agimat-list-container a {
  color: black;
}

.Agimat-article__FX2018 {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.Agimat-FX2018-container__title {
  max-width: 100%;
  height: 100%;
}

.Agimat-FX2018__title {
  margin: 15px 0;
}

.Agimat-FX2018__image {
  padding-top: 20px;
  width: 700px;
  height: 100%;
}
.Agimat-FX2018-container__paragraph {
  width: 450px;
  height: 100%;
  padding-left: 10px;
}

.Agimat-FX2018__paragraph {
  margin-top: 13px;
}

.Agimat-article__FXPro {
  display: flex;
  flex-wrap: wrap;
}

.Agimat-FXPro-container__title {
  max-width: 100%;
  height: 100%;
}

.Agimat-FXPro__title {
  margin: 0;
}

.Agimat-FXPro__paragraph {
  margin: 15px 0;
}

.Agimat-FXPro-container__image {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.Agimat-FXUltra__title,
.Agimat-FXUltra__subtitle {
  margin: 0;
}
.Agimat-container__FXUltra {
  margin-top: 30px;
}

.Agimat-article__FXUltra {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Agimat-FXUltra-container__description {
  width: 90%;
  height: 100%;
}

.Agimat-FXUltra__first-paragraph {
  margin: 15px 0;
}

.Agimat-FXUltra__second-paragraph {
  margin-top: 0;
}

.Agimat-FXUltra-container__signals {
  width: 90%;
  height: 100%;
}

.Agimat-FXUltra-container__list {
  margin-top: 15px;
}

.Agimat-FXUltra-container__list ul {
  list-style: square;
  margin: 15px 0;
}

.Agimat-FXUltra-container__list ul li {
  padding-top: 5px;
  padding-bottom: 10px;
}

.Agimat-FXUltra__image {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.footer-container {
  background-color: #252a34;
  max-width: 100%;
  height: 150px;
}

/* ? Signals */

.fso-article {
  display: flex;
  flex-wrap: wrap;
}

.fso-container__title {
  display: block;
  width: 100%;
}

.fso-title {
  margin: 0;
  margin-top: 10px;
}

.fso-container__paragraph {
  width: 50%;
  height: 100%;
  padding-right: 25px;
}

.fso-intro-paragraph {
  margin: 10px 0;
}

.fso-qualities-paragraph {
  margin: 10px 0;
}

.fso__paragraph {
  margin: 10px 0;
}

.fso-bonus__paragraph {
  margin-top: 15px;
  margin-bottom: 0;
}

.fso-container__image {
  width: 50%;
  height: 100%;
  align-self: center;
}

.fso-container__image img {
  width: 100%;
  height: 200%;
}

.fso-container__signals {
  display: flex;
  flex-wrap: wrap;
}

.fso-container-signals__title {
  width: 100%;
}

.fso__title {
  margin-top: 25px;
  margin-bottom: 0;
}

.fso-list__span {
  margin: 15px 0;
}

.fso-container__list {
  width: 45%;
  height: 25%;
  list-style: square;
}

.fso-list__item {
  padding: 10px 0;
}

.fso-signals__img {
  width: 52%;
  margin-left: 3%;
  margin-top: 20px;
  margin-bottom: 50px;
}

/* ? Responsive */

@media screen and (max-width: 1400px) {

  /* ?Header */
  .nav ul.nav-list {
    margin: 0;
    padding: 0;
    margin-left: 150px;
  }

  .nav ul li.nav-list__item {
    padding: 0;
    padding-right: 150px;
    padding-top: 10px;
  }

  .nav ul li.nav-list__item:nth-child(3) {
    padding-right: 0;
  }

  /* ? Agimat */
  .Agimat-section__title {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .Agimat-article__paragraph {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .Agimat-article__list {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .Agimat-FX2018__title,
  .Agimat-FXUltra__title,
  .Agimat-FXUltra__subtitle,
  .Agimat-FXPro__title,
  .Agimat-container__FXUltra,
  .Agimat-FXPro__paragraph {
    margin: 0;
  }

  .Agimat-container__FX2018,
  .Agimat-article__FX2018,
  .Agimat-FX2018__image,
  .Agimat-FX2018-container__paragraph,
  .Agimat-FXPro__paragraph,
  .Agimat-FXPro-container__title {
    height: 100%;
  }

  .Agimat-FX2018__paragraph {
    margin-bottom: 0;
  }

  .Agimat-FX2018-container__paragraph {
    padding: 0;
    width: 100%;
  }

  .Agimat-FX2018__image {
    width: 100%;
  }

  .Agimat-FXPro-container__title {
    margin-top: 20px;
  }

  .Agimat-FXPro-container__paragraph {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .Agimat-FXPro__span {
    margin-top: 0;
    margin-left: 33px;
  }

  .Agimat-FXUltra__image {
    width: 100%;
  }

  .Agimat-FXUltra__image {
    margin-bottom: 25px;
  }

  .Agimat-FXUltra__subtitle {
    margin-bottom: 15px;
  }

  /* ? Forex Signals */

  .fso-container__paragraph{
    padding-right: 25px;
    width: 50%;
  }
  .fso-container__image{
    height: 465px;
    margin-top: 15px;
    align-self: center;
  }
}

@media screen and (max-width: 1200px) {
  /* ? Header */
  .nav ul.nav-list {
    margin: 0;
    padding: 0;
    margin-left: 150px;
  }

  .nav ul li.nav-list__item {
    padding: 0;
    padding-right: 80px;
    padding-top: 10px;
  }

  .nav ul li.nav-list__item:nth-child(3) {
    padding-right: 0;
  }

  /* ? Agimat */

  .Agimat-section__title {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .Agimat-article__paragraph {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .Agimat-article__list {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .Agimat-FX2018__title,
  .Agimat-FXUltra__title,
  .Agimat-FXUltra__subtitle,
  .Agimat-FXPro__title,
  .Agimat-container__FXUltra,
  .Agimat-FXPro__paragraph {
    margin: 0;
  }

  .Agimat-container__FX2018,
  .Agimat-article__FX2018,
  .Agimat-FX2018__image,
  .Agimat-FX2018-container__paragraph,
  .Agimat-FXPro__paragraph,
  .Agimat-FXPro-container__title {
    height: 100%;
  }

  .Agimat-FX2018__paragraph {
    margin-bottom: 0;
  }

  .Agimat-FX2018-container__paragraph {
    padding: 0;
    width: 100%;
  }

  .Agimat-FX2018__image {
    width: 100%;
  }

  .Agimat-FXPro-container__title {
    margin-top: 20px;
  }

  .Agimat-FXPro-container__paragraph {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .Agimat-FXPro__span {
    margin-top: 0;
    margin-left: 33px;
  }

  .Agimat-FXUltra__image {
    width: 100%;
  }

  .Agimat-FXUltra__image {
    margin-bottom: 25px;
  }

  .Agimat-FXUltra__subtitle {
    margin-bottom: 15px;
  }

  /* ? Forex Signals */
  .main-container {
    font-size: 15px;
  }
  .fso-title {
    font-size: 25px;
    margin: 10px 0;
  }

  .fso-container__paragraph {
    padding: 0;
    width: 100%;
  }

  .fso-intro-paragraph {
    margin: 0;
  }

  .fso-qualities-paragraph {
    margin: 10px 0;
  }

  .fso-container__image {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .fso__paragraph,
  .fso-bonus__paragraph {
    margin: 10px 0;
  }

  .fso-container-signals__title {
    margin: 0;
  }

  .fso__title {
    margin: 0;
  }

  .fso-container__list {
    width: 100%;
    height: 19%;
  }

  .fso-list__span {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  .fso__list {
    width: 100%;
    padding-left: 20px;
    margin-top: 10px;
    list-style: square;
  }

  .fso-list__item {
    padding: 5px 0;
  }

  .fso-signals__img {
    width: 100%;
    margin-bottom: 25px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 1024px) {
  /* ? Header */
  .header {
    height: 50px;
  }

  .menu {
    max-width: 100%;
    height: 100%;
  }

  .nav {
    display: flex;
    height: 100%;
  }

  .nav img {
    margin: 0;
    width: 80px;
    height: 100%;
    padding: 0;
    padding-top: 15px;
    margin-left: 90px;
  }

  .nav ul.nav-list {
    margin: 0;
    padding: 0;
    margin-left: 250px;
  }

  .nav ul li.nav-list__item {
    padding: 0;
    font-size: 15px;
    padding-top: 10px;
    padding-right: 50px;
  }

  /* ? Agimat */
  .Agimat-section__title {
    margin: 0;
    padding: 0;
    font-size: 25px;
    margin-top: 15px;
  }

  .Agimat-article__paragraph {
    padding: 0;
    margin-bottom: 0;
  }

  .Agimat-article__list {
    margin: 5px;
    padding: 0;
    padding-left: 12px;
  }

  .Agimat-article-list__item {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .Agimat-article__FX2018 {
    height: 100%;
  }
  .Agimat-FX2018__paragraph,
  .Agimat-FX2018__title,
  .Agimat-FXPro__title,
  .Agimat-container__FXUltra {
    margin: 0;
  }

  .Agimat-FX2018-container__title {
    height: 100%;
  }

  .Agimat-FX2018__title {
    margin: 0;
  }

  .Agimat-FX2018__image {
    padding: 0;
    height: 100%;
    margin-top: 10px;
  }

  .Agimat-FX2018-container__paragraph {
    width: 100%;
    padding: 0;
    height: 100%;
    margin-top: 15px;
  }

  .Agimat-FXPro-container__title {
    padding-top: 15px;
    height: 100%;
  }

  .Agimat-FXPro__span {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
  }

  .Agimat-article__FXUltra {
    display: block;
  }

  .Agimat-FXUltra-container__description {
    width: 100%;
  }

  .Agimat-FXUltra__title {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .Agimat-FXUltra__list {
    padding: 0;
    margin: 0;
    padding-left: 15px;
    padding-top: 8px;
  }

  .Agimat-FXUltra__first-paragraph,
  .Agimat-FXUltra__second-paragraph {
    margin: 0;
    padding: 0;
  }

  .Agimat-FXUltra__first-paragraph {
    margin-top: 10px;
  }

  .Agimat-FXUltra__second-paragraph {
    margin-top: 5px;
  }

  .Agimat-FXUltra__subtitle {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .Agimat-FXUltra__image {
    width: 100%;
    margin-bottom: 15px;
  }

  /* ? Forex Signals */
  .main-container {
    font-size: 15px;
  }
  .fso-title {
    font-size: 25px;
    margin: 10px 0;
  }

  .fso-container__paragraph {
    padding: 0;
    width: 100%;
  }

  .fso-intro-paragraph {
    margin: 0;
  }

  .fso-qualities-paragraph {
    margin: 10px 0;
  }

  .fso-container__image {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .fso__paragraph,
  .fso-bonus__paragraph {
    margin: 10px 0;
  }

  .fso-container-signals__title {
    margin: 0;
  }

  .fso__title {
    margin: 0;
  }

  .fso-container__list {
    width: 100%;
    height: 19%;
  }

  .fso-list__span {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  .fso__list {
    width: 100%;
    padding-left: 20px;
    margin-top: 10px;
    list-style: square;
  }

  .fso-list__item {
    padding: 5px 0;
  }

  .fso-signals__img {
    width: 100%;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  /* ? Footer */
  .footer-container {
    height: 70px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 15px;
  }

  /* ? Header */
  .header {
    height: 50px;
  }

  .menu {
    max-width: 100%;
    height: 100%;
  }

  .nav {
    display: flex;
    height: 100%;
  }

  .nav img {
    margin: 0;
    width: 80px;
    height: 100%;
    padding: 0;
    padding-top: 15px;
    margin-left: 90px;
  }

  .nav ul.nav-list {
    margin: 0;
    padding: 0;
    margin-left: 90px;
  }

  .nav ul li.nav-list__item {
    padding: 0;
    font-size: 10px;
    padding-top: 10px;
    padding-right: 70px;
  }

  /* ? Agimat */
  .Agimat-container {
    font-size: 15px;
  }

  .Agimat-section__title {
    margin: 0;
    padding: 0;
    font-size: 25px;
    margin-top: 15px;
  }

  .Agimat-article__paragraph {
    padding: 0;
    margin-bottom: 0;
  }

  .Agimat-article__list {
    margin: 5px;
    padding: 0;
    padding-left: 12px;
  }

  .Agimat-article-list__item {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .Agimat-article__FX2018 {
    height: 100%;
  }
  .Agimat-FX2018__paragraph,
  .Agimat-FX2018__title,
  .Agimat-FXPro__title,
  .Agimat-container__FXUltra {
    margin: 0;
  }

  .Agimat-FX2018-container__title {
    height: 100%;
  }

  .Agimat-FX2018__title {
    margin: 0;
  }

  .Agimat-FX2018__image {
    padding: 0;
    height: 100%;
    margin-top: 10px;
  }

  .Agimat-FX2018-container__paragraph {
    width: 100%;
    padding: 0;
    height: 100%;
    margin-top: 15px;
  }

  .Agimat-FXPro-container__title {
    padding-top: 15px;
    height: 100%;
  }

  .Agimat-FXPro__span {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
  }

  .Agimat-article__FXUltra {
    display: block;
  }

  .Agimat-FXUltra-container__description {
    width: 100%;
  }

  .Agimat-FXUltra__title {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .Agimat-FXUltra__list {
    padding: 0;
    margin: 0;
    padding-left: 15px;
    padding-top: 8px;
  }

  .Agimat-FXUltra__first-paragraph,
  .Agimat-FXUltra__second-paragraph {
    margin: 0;
    padding: 0;
  }

  .Agimat-FXUltra__first-paragraph {
    margin-top: 10px;
  }

  .Agimat-FXUltra__second-paragraph {
    margin-top: 5px;
  }

  .Agimat-FXUltra__subtitle {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .Agimat-FXUltra__image {
    width: 100%;
    margin-bottom: 15px;
  }

  /* ? Forex Signals */
  .main-container {
    font-size: 15px;
  }
  .fso-title {
    font-size: 25px;
    margin: 10px 0;
  }

  .fso-container__paragraph {
    padding: 0;
    width: 100%;
  }

  .fso-intro-paragraph {
    margin: 0;
  }

  .fso-qualities-paragraph {
    margin: 10px 0;
  }

  .fso-container__image {
    width: 100%;
  }

  .fso__paragraph,
  .fso-bonus__paragraph {
    margin: 10px 0;
  }

  .fso-container-signals__title {
    margin: 0;
  }

  .fso__title {
    margin: 0;
  }

  .fso-container__list {
    width: 100%;
    height: 22%;
  }

  .fso-list__span {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  .fso__list {
    width: 100%;
    padding-left: 20px;
    margin-top: 10px;
    list-style: square;
  }

  .fso-list__item {
    padding: 5px 0;
  }

  .fso-signals__img {
    width: 100%;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  /* ? Footer */
  .footer-container {
    height: 70px;
  }
}

@media screen and (max-width: 640px) {
  body {
    font-size: 15px;
  }

  /* ? Header */
  .header {
    height: 50px;
  }

  .menu {
    max-width: 100%;
    height: 100%;
  }

  .nav {
    display: flex;
    height: 100%;
  }

  .nav img {
    margin: 0;
    width: 80px;
    height: 100%;
    padding: 0;
    padding-top: 15px;
    margin-left: 50px;
  }

  .nav ul.nav-list {
    margin: 0;
    padding: 0;
    margin-left: 40px;
  }

  .nav ul li.nav-list__item {
    padding: 0;
    font-size: 10px;
    padding-top: 10px;
    padding-right: 60px;
  }

  /* ? Agimat */
  .Agimat-container {
    font-size: 15px;
  }

  .Agimat-section__title {
    margin: 0;
    padding: 0;
    font-size: 25px;
    margin-top: 15px;
  }

  .Agimat-article__paragraph {
    padding: 0;
    margin-bottom: 0;
  }

  .Agimat-article__list {
    margin: 5px;
    padding: 0;
    padding-left: 12px;
  }

  .Agimat-article-list__item {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .Agimat-article__FX2018 {
    height: 100%;
  }
  .Agimat-FX2018__paragraph,
  .Agimat-FX2018__title,
  .Agimat-FXPro__title,
  .Agimat-container__FXUltra {
    margin: 0;
  }

  .Agimat-FX2018-container__title {
    height: 100%;
  }

  .Agimat-FX2018__title {
    margin: 0;
  }

  .Agimat-FX2018__image {
    padding: 0;
    height: 100%;
    margin-top: 10px;
  }

  .Agimat-FX2018-container__paragraph {
    padding: 0;
    height: 100%;
    margin-top: 15px;
  }

  .Agimat-FXPro-container__title {
    padding-top: 15px;
    height: 100%;
  }

  .Agimat-FXPro__span {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
  }

  .Agimat-article__FXUltra {
    display: block;
  }

  .Agimat-FXUltra-container__description {
    width: 100%;
  }

  .Agimat-FXUltra__title {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .Agimat-FXUltra__list {
    padding: 0;
    margin: 0;
    padding-left: 15px;
    padding-top: 8px;
  }

  .Agimat-FXUltra__first-paragraph,
  .Agimat-FXUltra__second-paragraph {
    margin: 0;
    padding: 0;
  }

  .Agimat-FXUltra__first-paragraph {
    margin-top: 10px;
  }

  .Agimat-FXUltra__second-paragraph {
    margin-top: 5px;
  }

  .Agimat-FXUltra__subtitle {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .Agimat-FXUltra__image {
    width: 100%;
    margin-bottom: 15px;
  }

  /* ? Forex Signals */
  .main-container {
    font-size: 15px;
  }
  .fso-title {
    font-size: 25px;
    margin: 10px 0;
  }

  .fso-container__paragraph {
    padding: 0;
    width: 100%;
  }

  .fso-intro-paragraph {
    margin: 0;
  }

  .fso-qualities-paragraph {
    margin: 10px 0;
  }

  .fso-container__image {
    width: 100%;
  }

  .fso__paragraph,
  .fso-bonus__paragraph {
    margin: 10px 0;
  }

  .fso-container-signals__title {
    margin: 0;
  }

  .fso__title {
    margin: 0;
  }

  .fso-container__list {
    width: 100%;
    height: 25%;
  }

  .fso-list__span {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  .fso__list {
    width: 100%;
    padding-left: 20px;
    margin-top: 10px;
    list-style: square;
  }

  .fso-list__item {
    padding: 5px 0;
  }

  .fso-signals__img {
    width: 100%;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  /* ? Footer */
  .footer-container {
    height: 70px;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 15px;
  }

  /* ? Header */
  .header {
    height: 50px;
  }

  .menu {
    max-width: 100%;
    height: 100%;
  }

  .nav {
    display: flex;
    height: 100%;
  }

  .nav img {
    margin: 0;
    width: 80px;
    height: 100%;
    padding-top: 15px;
    margin-left: 60px;
  }

  .nav ul.nav-list {
    margin: 0;
    padding: 0;
    margin-left: 60px;
  }

  .nav ul li.nav-list__item {
    padding: 0;
    font-size: 10px;
    padding-top: 10px;
    padding-right: 40px;
  }

  /* ? Agimat */
  .Agimat-container {
    font-size: 15px;
  }

  .Agimat-section__title {
    margin: 0;
    padding: 0;
    font-size: 25px;
    margin-top: 15px;
  }

  .Agimat-article__paragraph {
    padding: 0;
    margin-bottom: 0;
  }

  .Agimat-article__list {
    margin: 5px;
    padding: 0;
    padding-left: 12px;
  }

  .Agimat-article-list__item {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .Agimat-article__FX2018 {
    height: 100%;
  }
  .Agimat-FX2018__paragraph,
  .Agimat-FX2018__title,
  .Agimat-FXPro__title,
  .Agimat-container__FXUltra {
    margin: 0;
  }

  .Agimat-FX2018-container__title {
    height: 100%;
  }

  .Agimat-FX2018__title {
    margin: 0;
  }

  .Agimat-FX2018__image {
    padding: 0;
    height: 100%;
    margin-top: 10px;
  }

  .Agimat-FX2018-container__paragraph {
    padding: 0;
    height: 100%;
    margin-top: 15px;
  }

  .Agimat-FXPro-container__title {
    padding-top: 15px;
    height: 100%;
  }

  .Agimat-FXPro__span {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
  }

  .Agimat-article__FXUltra {
    display: block;
  }

  .Agimat-FXUltra-container__description {
    width: 100%;
  }

  .Agimat-FXUltra__title {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .Agimat-FXUltra__list {
    padding: 0;
    margin: 0;
    padding-left: 15px;
    padding-top: 8px;
  }

  .Agimat-FXUltra__first-paragraph,
  .Agimat-FXUltra__second-paragraph {
    margin: 0;
    padding: 0;
  }

  .Agimat-FXUltra__first-paragraph {
    margin-top: 10px;
  }

  .Agimat-FXUltra__second-paragraph {
    margin-top: 5px;
  }

  .Agimat-FXUltra__subtitle {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .Agimat-FXUltra__image {
    width: 280px;
    margin-bottom: 15px;
  }

  /* ? Forex Signals */
  .main-container {
    font-size: 15px;
  }

  .fso-title {
    font-size: 25px;
    margin: 10px 0;
  }

  .fso-container__paragraph {
    padding: 0;
    width: 100%;
  }

  .fso-intro-paragraph {
    margin: 0;
  }

  .fso-qualities-paragraph {
    margin: 10px 0;
  }

  .fso-container__image {
    width: 100%;
  }

  .fso__paragraph,
  .fso-bonus__paragraph {
    margin: 10px 0;
  }

  .fso-container-signals__title {
    margin: 0;
  }

  .fso__title {
    margin: 0;
  }

  .fso-container__list {
    width: 100%;
    height: 30%;
  }

  .fso-list__span {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  .fso__list {
    width: 100%;
    padding-left: 20px;
    margin-top: 10px;
    list-style: square;
  }

  .fso-list__item {
    padding: 5px 0;
  }

  .fso-signals__img {
    width: 100%;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  /* ? Footer */
  .footer-container {
    height: 70px;
  }
}

@media screen and (max-width: 420px) {
  body {
    font-size: 15px;
  }

  /* ? Header */
  .header {
    height: 50px;
  }

  .menu {
    max-width: 100%;
    height: 100%;
  }

  .nav {
    display: flex;
    height: 100%;
  }

  .nav img {
    margin: 0;
    width: 80px;
    height: 100%;
    padding-top: 15px;
    padding-left: 25px;
  }

  .nav ul.nav-list {
    margin: 0;
    padding: 0;
    margin-left: 30px;
  }

  .nav ul li.nav-list__item {
    padding: 0;
    font-size: 10px;
    padding-top: 10px;
    padding-right: 40px;
  }

  /* ? Agimat */
  .Agimat-container {
    font-size: 15px;
  }

  .Agimat-section__title {
    margin: 0;
    padding: 0;
    font-size: 25px;
    margin-top: 15px;
  }

  .Agimat-article__paragraph {
    padding: 0;
    margin-bottom: 0;
  }

  .Agimat-article__list {
    margin: 5px;
    padding: 0;
    padding-left: 12px;
  }

  .Agimat-article-list__item {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .Agimat-article__FX2018 {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
  .Agimat-FX2018__paragraph,
  .Agimat-FX2018__title,
  .Agimat-FXPro__title,
  .Agimat-container__FXUltra {
    margin: 0;
  }

  .Agimat-FX2018-container__title {
    height: 100%;
    margin-bottom: 10px;
  }
  .Agimat-FX2018__title {
    margin-top: 10px;
  }

  .Agimat-FX2018__image {
    height: 100%;
  }

  .Agimat-FX2018-container__paragraph {
    padding: 0;
    height: 100%;
    margin-top: 0;
  }

  .Agimat-FX2018__paragraph {
    margin-top: 15px;
    height: 100%;
  }

  .Agimat-FXPro-container__title {
    padding-top: 10px;
    height: 100%;
  }

  .Agimat-FXPro__title {
    margin-top: 0;
  }

  .Agimat-FXPro__span {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
  }

  .Agimat-article__FXUltra {
    display: block;
  }

  .Agimat-FXUltra-container__description {
    width: 100%;
  }

  .Agimat-FXUltra__list {
    padding: 0;
    margin: 0;
    padding-left: 15px;
    padding-top: 8px;
  }

  .Agimat-FXUltra__subtitle {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .Agimat-FXUltra__image {
    width: 280px;
    margin-bottom: 15px;
  }

  /* ? Forex Signals */
  .main-container {
    font-size: 15px;
  }
  .fso-title {
    font-size: 25px;
    margin: 10px 0;
  }

  .fso-container__paragraph {
    padding: 0;
    width: 100%;
  }

  .fso-intro-paragraph {
    margin: 0;
  }

  .fso-qualities-paragraph {
    margin: 10px 0;
  }

  .fso-container__image {
    width: 100%;
  }

  .fso__paragraph,
  .fso-bonus__paragraph {
    margin: 10px 0;
  }

  .fso-container-signals__title {
    margin: 0;
  }

  .fso__title {
    margin: 0;
  }

  .fso-container__list {
    width: 100%;
    height: 33%;
  }

  .fso-list__span {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  .fso__list {
    width: 100%;
    padding-left: 20px;
    margin-top: 10px;
    list-style: square;
  }

  .fso-list__item {
    padding: 5px 0;
  }

  .fso-signals__img {
    width: 100%;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  /* ? Footer */
  .footer-container {
    height: 70px;
  }
}

@media screen and (max-width: 360px) {
  body {
    font-size: 15px;
  }

  /* ? Header */
  .header {
    height: 50px;
  }

  .menu {
    max-width: 100%;
    height: 100%;
  }

  .nav {
    display: flex;
    height: 100%;
  }

  .nav img {
    margin: 0;
    width: 80px;
    height: 100%;
    padding-top: 15px;
    padding-left: 20px;
  }

  .nav ul.nav-list {
    margin: 30px;
    margin-right: 0;
    padding: 0;
  }

  .nav ul li.nav-list__item {
    padding: 0;
    font-size: 10px;
    padding-top: 10px;
    padding-right: 25px;
  }

  /* ? Agimat */
  .Agimat-container {
    font-size: 15px;
  }

  .Agimat-section__title {
    margin: 0;
    padding: 0;
    font-size: 25px;
    margin-top: 15px;
  }

  .Agimat-article__paragraph {
    padding: 0;
    margin-bottom: 0;
  }

  .Agimat-article__list {
    margin: 5px;
    padding: 0;
    padding-left: 12px;
  }

  .Agimat-article-list__item {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .Agimat-article__FX2018 {
    height: 100%;
  }
  .Agimat-FX2018__paragraph,
  .Agimat-FX2018__title,
  .Agimat-FXPro__title,
  .Agimat-container__FXUltra {
    margin: 0;
  }

  .Agimat-FX2018__title {
    margin-top: 10px;
  }

  .Agimat-FX2018__image {
    height: 100%;
    padding-top: 10px;
  }

  .Agimat-FX2018-container__paragraph {
    padding: 0;
    height: 100%;
    margin-top: 10px;
  }

  .Agimat-FXPro-container__title {
    padding: 0;
    height: 100%;
    margin-top: 10px;
  }

  .Agimat-FXPro__span {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
  }

  .Agimat-article__FXUltra {
    display: block;
  }

  .Agimat-FXUltra-container__description {
    width: 100%;
  }

  .Agimat-FXUltra__list {
    padding: 0;
    margin: 0;
    padding-left: 15px;
    padding-top: 8px;
  }

  .Agimat-FXUltra-container__list ul li {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .Agimat-FXUltra__subtitle {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .Agimat-FXUltra__image {
    width: 280px;
    margin-bottom: 15px;
  }

  /* ? Forex Signals */

  .main-container {
    font-size: 15px;
  }
  .fso-title {
    font-size: 25px;
    margin: 10px 0;
  }

  .fso-container__paragraph {
    padding: 0;
    width: 100%;
  }

  .fso-intro-paragraph {
    margin: 0;
  }

  .fso-qualities-paragraph {
    margin: 10px 0;
  }

  .fso-container__image {
    width: 100%;
  }

  .fso__paragraph,
  .fso-bonus__paragraph {
    margin: 10px 0;
  }

  .fso-container-signals__title {
    margin: 0;
    height: 30px;
  }

  .fso__title {
    margin: 0;
  }

  .fso-container__list {
    width: 100%;
    height: 37%;
    line-height: 15px;
  }

  .fso-list__span {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  .fso__list {
    width: 100%;
    padding-left: 20px;
    margin-top: 10px;
    list-style: square;
  }

  .fso-list__item {
    padding: 5px 0;
  }

  .fso-signals__img {
    width: 100%;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  /* ? Footer */
  .footer-container {
    height: 70px;
  }
}

@media screen and (max-width: 320px) {
  body {
    font-size: 15px;
  }

  /* ? Header */
  .header {
    height: 50px;
  }

  .menu {
    max-width: 100%;
    height: 100%;
  }

  .nav {
    display: flex;
    height: 100%;
  }

  .nav img {
    margin: 0;
    width: 80px;
    height: 100%;
    padding-top: 15px;
    padding-left: 20px;
  }

  .nav ul.nav-list {
    margin-left: 50px;
    padding: 0;
  }

  .nav ul li.nav-list__item {
    padding: 0;
    padding-top: 10px;
    padding-right: 20px;
  }

  .nav ul li a {
    font-size: 10px;
  }

  /* ? Agimat */
  .Agimat-section__title {
    margin: 0;
    padding: 0;
    font-size: 25px;
    margin-top: 15px;
  }

  .Agimat-article__paragraph {
    padding: 0;
    margin-bottom: 0;
  }

  .Agimat-article__list {
    margin: 5px;
    padding: 0;
    padding-left: 12px;
  }

  .Agimat-article-list__item {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .Agimat-article__FX2018,
  .Agimat-container__FX2018 {
    height: 100%;
  }
  .Agimat-FX2018__paragraph,
  .Agimat-FX2018__title,
  .Agimat-FXPro__title,
  .Agimat-container__FXUltra {
    margin: 0;
  }

  .Agimat-FX2018__title {
    margin-top: 10px;
  }

  .Agimat-FX2018__image {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .Agimat-FX2018-container__paragraph {
    padding: 0;
    height: 100%;
  }

  .Agimat-FXPro-container__title {
    margin-top: 10px;
    height: 100%;
  }

  .Agimat-FXPro__span {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
  }

  .Agimat-article__FXUltra {
    display: block;
  }

  .Agimat-FXUltra-container__description {
    width: 100%;
  }

  .Agimat-FXUltra__list {
    padding: 0;
    margin: 0;
    padding-left: 15px;
    padding-top: 8px;
  }

  .Agimat-FXUltra__subtitle {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .Agimat-FXUltra__image {
    width: 100%;
    margin-bottom: 15px;
  }

  /* ? Forex Signals */

  .main-container {
    font-size: 12px;
  }
  .fso-title {
    font-size: 25px;
    margin: 10px 0;
  }

  .fso-container__paragraph {
    padding: 0;
    width: 100%;
  }

  .fso-intro-paragraph {
    margin: 0;
  }

  .fso-qualities-paragraph {
    margin: 10px 0;
  }

  .fso-container__image {
    width: 100%;
  }

  .fso__paragraph,
  .fso-bonus__paragraph {
    margin: 10px 0;
  }

  .fso-container-signals__title {
    margin-bottom: 10px;
  }

  .fso__title {
    margin: 0;
  }

  .fso-container__list {
    width: 100%;
    height: 37%;
  }

  .fso-list__span {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  .fso__list {
    width: 100%;
    padding-left: 20px;
    margin-top: 10px;
    list-style: square;
  }

  .fso-list__item {
    padding: 5px 0;
  }

  .fso-signals__img {
    width: 100%;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  /* ? Footer */
  .footer-container {
    height: 70px;
  }
}
